{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    {{ form_start(formView) }}
    <div class="card">
        <div class="card-header">
            <h2 class="pt-2 pl-2">{{ "Edit Rule" |trans({}, 'Modules.OutOfStockReminder.Admin') }}</h2>
        </div>
        <div class="card-body ">
            {{ form_errors(formView) }}
            {{ form_widget(formView) }}

        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary float-right" id="edit-button">
                    {{ 'Save'|trans({}, 'Admin.Actions') }}
                </button>
            </div>
        </div>
    </div>


    {{ form_end(formView) }}
{% endblock content %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../modules/outofstockreminder/views/js/form.js') }}" defer></script>
    <script src="{{ asset('../modules/outofstockreminder/views/js/selected_all.js') }}" defer></script>

    {%if category_id is defined and category_id == "0"%}
        <script> $("#rule_select_all_categories_1").prop("checked", true) </script>
    {% endif %}
{% endblock %}